<header></header>
<div id="user-profile-2" class="user-profile">
<div class="tabbable">
<div class="tab-content no-border padding-24">
<div id="home" class="tab-pane in active">

<div class="content-profile-page">
	<div class="profile-user-page card">
	   <div class="img-user-profile">
		 <img class="profile-bgHome" id="avatar2" src="https://i.ytimg.com/vi/G-MfVUvWg2A/maxresdefault.jpg" >
		 <br>
		 <img class="editable img-responsive" alt=" Avatar" id="avatar2" src={{content?.avatar_url}}>
			</div>
		   <div class="user-profile-data">
			 <h1>{{content?.full_name}}</h1>
			 <p>{{content?.about}}</p>
			 <p>{{content?.email}}</p>
			 <p>{{content?.created_at | date:'medium'}}</p>
		   </div> 
		<ul class="data-user">
		<div *ngIf="true">
		 <li> <a href="/submissions/{{content?.id}}"> Posts </a></li>
		 </div>
		 <div *ngIf="true">

		 <li><a href="/user_comments/{{content?.id}}"> Comments </a></li>
		 </div>
		 <div *ngIf="true">
			<li><a href="upvoted/submissions/1"> Upvoted posts </a> </li>
		</div>
		<div *ngIf="true">
		<li><a href="upvoted/comments/1"> Upvoted comments </a> </li>
		</div>
		</ul>
	   </div>
	 </div>

